@use 'vuetify/settings' with (
  $card-background: #d8c0c8,
  $card-elevation: 10,
  $button-background: #ea95b2,
  $card-color: #9b224c,
  
);


// $button-border-color:  #9b224c,
// $button-border-width:  2px,