@use 'vuetify/settings' with (
  $application-background:#f9ebeb,
  $navigation-drawer-background:#d8c0c8, 
  $card-elevation: 10, // the default card elevation
  $card-background: #d8c0c8, // the default card background
);


// $button-border-color:  #9b224c,
// $button-border-width:  2px,